<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>小王的生物信息学网站</title>
	<link rel="stylesheet" href="/static/css3/main.css" type="text/css"/>
	<link rel="stylesheet" href="/static/css3/bootstrap.css" type="text/css"/>
	<script language="JavaScript" type="textJavaScript" src="/static/js/jquery.js"></script>
</head>
<body>
	<center style="height:1100px;">
		<header>
			<h1>生物信息课程设计</h1>
		</header>
		<main style="height:80%">
			<form>
				<h2>用户注册界面</h2>
				<lable>用户名：</lable><input class="input"/></br>
				<lable>密 &nbsp&nbsp码：</lable><input class="input" type="password"/></br>
				<lable>验证密码：</lable><input class="input" type="password"/></br>
				<lable>学校：</lable><input class="input"/></br>
				<lable>学号：</lable><input class="input" type="tel"/></br>
				<lable>年龄：</lable><input class="input"/></br>
				<lable>职业：</lable><input class="input"/></br>
				<lable>邮箱：</lable><input class="input" type="email" placeholder="@qq.com"/></br>
				<lable>联系方式：</lable><input class="input"/></br>
				<input type="checkbox"/> 我同意<a href="">服务使用条款。</a></br>
				<button class="btn btn-primary btn-lg">注册</button>
				<button class="btn btn-primary btn-lg">重置</button>
			</form>
		</main>
		<footer>
			<h1>脚</h1>
		</footer>
	</center>
</body>
</html>